<% if @categories.count > 0 %>
<h3>Categories</h3>
<div class="scroll">
<ul>
<% @categories.each do |c| %>
  <% unless c.title.nil? %>
    <li>
    <% if !params[:q].nil? %>
      <%= link_to c.title.capitalize, 
        navigate_by_search_path(:q => params[:q].nil? ? "" : params[:q], :f => "#{c.type}/#{c.title}") %>
      <% elsif !request.params[:c].nil? %>
        <%= link_to c.title.capitalize, navigate_by_facet_path(:q => params[:q], :c => "#{request.params[:c]}", :f => "#{c.type}/#{c.title}") %>
      <% else %>
        <%= link_to c.title.capitalize, navigate_by_tag_path(:f => "#{c.type}/#{c.title}") %>
    <% end %>
    </li>
  <% end %>
<% end %>
</ul>
</div>
<% end %>