<form method="get" action="/search">
  <fieldset>
    <legend>Search</legend>
    <input type="text" name="q" value="<%= params[:q] %>" class="q"/>
    <button type="submit">Search!</button>
  </fieldset>
</form>
